ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__DefaultConnection=Server=(localdb)\mssqllocaldb;Database=WhiskDb_Dev;Trusted_Connection=True;MultipleActiveResultSets=true;TrustServerCertificate=true
Jwt__Secret=WhiskDevSecretKey_MustBeAtLeast32Characters!
Jwt__Issuer=WhiskApi
Jwt__Audience=WhiskApp
Google__ClientId=YOUR_GOOGLE_CLIENT_ID
Apple__BundleId=com.whisk.app
